@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Jura:400,500,600&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.slider-arrow__next, .slider-arrow__prev, .menu-open .icon-menu, .icon-menu, .right-header__search, .right-header__mail, .right-header__shop, .left-header__map, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-phone:before {
  content: "\e911";
}

._icon-arrow-right:before, .slider-arrow__next:before, .slider-arrow__prev:before {
  content: "\e900";
}

._icon-arrow-sub-right:before {
  content: "\e901";
}

._icon-check:before {
  content: "\e902";
}

._icon-chevron-down:before {
  content: "\e903";
}

._icon-chevron-left:before, .menu-open .icon-menu:before {
  content: "\e904";
}

._icon-chevron-up:before {
  content: "\e905";
}

._icon-close:before {
  content: "\e906";
}

._icon-cook:before {
  content: "\e907";
}

._icon-facebook:before {
  content: "\e908";
}

._icon-insta:before {
  content: "\e909";
}

._icon-knife:before {
  content: "\e90a";
}

._icon-knife-2:before {
  content: "\e90b";
}

._icon-knife-sharp:before {
  content: "\e90c";
}

._icon-location:before, .left-header__map:before {
  content: "\e90d";
}

._icon-mail:before, .right-header__mail:before {
  content: "\e90e";
}

._icon-menu:before, .icon-menu:before {
  content: "\e90f";
}

._icon-money-check:before {
  content: "\e910";
}

._icon-play-arrow:before {
  content: "\e912";
}

._icon-plus:before {
  content: "\e913";
}

._icon-search:before, .right-header__search:before {
  content: "\e914";
}

._icon-shop:before, .right-header__shop:before {
  content: "\e915";
}

._icon-star:before {
  content: "\e916";
}

._icon-vk:before {
  content: "\e917";
}

._icon-youtube:before {
  content: "\e918";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #555555;
}
@media (max-width: 47.99875em) {
  .lock body {
    overflow: hidden;
    touch-action: none;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.tabs__navigation {
  display: flex;
}
.tabs__title {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .tabs__title:hover {
    color: #ffffff;
  }
}
.tabs__title._tab-active {
  color: rgb(255, 0, 0);
}
.tabs-new-popular {
  padding-bottom: 3.75rem;
}
.tabs-new-popular__navigation {
  display: flex;
  justify-content: center;
  gap: 3.375rem;
  padding-top: 3.75rem;
  padding-bottom: 1.875rem;
}
.tabs-new-popular__title {
  font-weight: 600;
  font-size: 1.0625rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid rgba(255, 0, 0, 0);
}
@media (any-hover: hover) {
  .tabs-new-popular__title:hover {
    color: #fff;
  }
}
.tabs-new-popular__title._tab-active {
  color: #fff;
  border-bottom: 2px solid rgb(255, 0, 0);
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.common-button {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 100%;
  padding: 1rem 2.125rem;
  border: 2px solid #C80000;
  border-radius: 27px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 29.99875em) {
  .common-button {
    background-color: #C80000;
  }
}
@media (any-hover: hover) {
  .common-button:hover {
    background-color: #C80000;
  }
}

.header {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  background: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(11px);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.left-header {
  flex: 1 1 33.333%;
}

.menu-open .menu__icon {
  position: absolute;
  left: 3rem;
  top: 1.5rem;
}
@media (max-width: 47.99875em) {
  .menu-open .menu__icon {
    left: 0.9375rem;
  }
}

.menu__list {
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
  padding-top: 2.5rem;
  padding-bottom: 4.375rem;
}
@media (max-width: 29.99875em) {
  .menu__list {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1111111111;
    row-gap: 1.875rem;
    text-transform: none;
  }
}

.menu__link {
  display: inline-block;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #C80000;
    transform: scale(1.1);
  }
}

.menu__sub-list {
  color: #fff;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}

.menu__sub-link {
  display: inline-block;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__sub-link:hover {
    color: #C80000;
    transform: scale(1.1);
  }
}

.left-header__map {
  font-size: 1.4375rem;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .left-header__map:hover {
    color: #C80000;
    transform: scale(1.3);
    font-weight: 700;
  }
}
@media (max-width: 47.99875em) {
  .left-header__map {
    display: none;
  }
}
.menu-open .left-header__map {
  display: none;
}

.left-header__phone {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .left-header__phone:hover {
    color: #C80000;
    transform: scale(1.1);
    font-weight: 700;
  }
}
.menu-open .left-header__phone {
  display: none;
}

@media (max-width: 47.99875em) {
  .left-header__phone-number {
    display: none;
  }
}

.left-header__phone-icon {
  transition: all 0.3s ease 0s;
  display: none;
}
@media (any-hover: hover) {
  .left-header__phone-icon:hover {
    color: #C80000;
    transform: scale(1.3);
    font-weight: 700;
  }
}
@media (max-width: 47.99875em) {
  .left-header__phone-icon {
    display: block;
  }
}

.header__logo {
  flex: 1 1 33.333%;
  display: flex;
  justify-content: center;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  transition: all 0.9s ease 0s;
}
.menu-open .header__logo {
  position: absolute;
  top: 1.125rem;
  left: 50%;
  z-index: 10;
  transform: translate(-50%) rotateX(360deg);
}
@media (max-width: 47.99875em) {
  .header__logo {
    padding-right: 0rem;
    padding-left: 0rem;
    justify-content: flex-end;
  }
}

.header__right {
  flex: 1 1 33.333%;
}

.right-header {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: flex-end;
  transition: all 0.8s ease 0s;
  z-index: 10;
}
.menu-open .right-header {
  position: fixed;
  top: 1.5rem;
  right: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .right-header {
    position: fixed;
    top: -100%;
    right: 0.9375rem;
  }
  .menu-open .right-header {
    position: fixed;
    top: 1.375rem;
    right: 0.9375rem;
  }
}

.right-header__shop {
  font-size: 1.4375rem;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .right-header__shop:hover {
    color: #C80000;
    transform: scale(1.3);
    font-weight: 700;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .right-header__shop {
    display: none;
  }
}

.right-header__mail {
  transition: all 0.3s ease 0s;
  font-size: 1.4375rem;
}
@media (any-hover: hover) {
  .right-header__mail:hover {
    color: #C80000;
    transform: scale(1.3);
    font-weight: 700;
  }
}

.right-header__search {
  transition: all 0.3s ease 0s;
  font-size: 1.4375rem;
}
@media (any-hover: hover) {
  .right-header__search:hover {
    color: #C80000;
    transform: scale(1.3);
    font-weight: 700;
  }
}

.icon-menu {
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.3s ease 0s;
  font-size: 1.4375rem;
}
@media (any-hover: hover) {
  .icon-menu:hover {
    color: #C80000;
    transform: scale(1.3);
  }
}
.menu-open .icon-menu {
  font-size: 1.5rem;
}

.menu__body {
  position: fixed;
  overflow: auto;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  padding-top: 6.875rem;
  padding-left: 3rem;
  padding-right: 1.6875rem;
  padding-bottom: 3.75rem;
  transition: all 0.4s ease 0s;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64));
}
.menu__body::before {
  transition: all 0.6s ease 0s;
  content: "";
  position: fixed;
  top: 0;
  left: -100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64));
  filter: blur(33px);
  height: 100vh;
  width: 30vw;
  z-index: -1;
}
@media (max-width: 64em) {
  .menu__body::before {
    width: 40vw;
  }
}
@media (max-width: 47.99875em) {
  .menu__body::before {
    width: 58vw;
  }
}
.menu-open .menu__body::before {
  left: 0;
}
.menu__body::after {
  transition: all 0.6s ease 0s;
  content: "";
  position: fixed;
  top: -100%;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  height: 70px;
  width: 100%;
  z-index: 1;
}
.menu-open .menu__body::after {
  top: 0;
}
@media (max-width: 47.99875em) {
  .menu__body {
    width: 100%;
    padding-left: 0.9375rem;
  }
}
.menu-open .menu__body {
  left: 0;
}

.top-footer {
  padding-top: 2.8125rem;
  padding-bottom: 2.1875rem;
  background: #272727;
}
.top-footer__body {
  display: flex;
  column-gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .top-footer__body {
    flex-direction: column;
    row-gap: 2.8125rem;
  }
}
.top-footer__column {
  flex: 1 1 33.333%;
}

.column-footer-left {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}
.column-footer-left__titles {
  display: flex;
  gap: 1.625rem;
  align-items: center;
}

.titles-footer-left__title {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 131%;
}
.titles-footer-left__text {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  font-size: 0.8125rem;
  line-height: 154%;
}
.column-footer-middle {
  display: flex;
  flex-direction: column;
  row-gap: 2.125rem;
}
.column-footer-middle__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.875rem;
}
.column-footer-middle__catalog {
  display: flex;
  flex-direction: column;
  row-gap: 0.875rem;
}
.column-footer-middle__socials {
  display: flex;
}

.common-footer-title {
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 165%;
}

.menu-info-footer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
@media (max-width: 61.99875em) {
  .menu-info-footer__list {
    justify-content: start;
  }
}
.menu-info-footer__item {
  padding-right: 1.25rem;
}
.menu-info-footer__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .menu-info-footer__link:hover {
    color: rgb(255, 255, 255);
  }
}

.menu-catalog-footer__list {
  display: flex;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}
.menu-catalog-footer__item {
  padding-right: 2.1875rem;
}
.menu-catalog-footer__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-catalog-footer__link:hover {
    color: rgb(255, 255, 255);
  }
}

.socials-footer-middle {
  display: flex;
  column-gap: 1.4375rem;
  align-items: center;
}
.menu-socials-footer__list {
  display: flex;
  gap: 0.5rem;
}
.menu-socials-footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-socials-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2E2E2E;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
.menu-socials-footer__link:before {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-socials-footer__link:hover:before {
    color: #C80000;
  }
  .menu-socials-footer__link:hover {
    background-color: #fff;
    transform: scale(1.3);
  }
}

.column-footer-right {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.column-footer-right__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  line-height: 140%;
}
@media (max-width: 61.99875em) {
  .column-footer-right__body {
    flex-direction: row;
    column-gap: 1.25rem;
    flex-wrap: wrap;
  }
}
.column-footer-right__phone {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .column-footer-right__phone:hover {
    color: #fff;
  }
}
@media (max-width: 61.99875em) {
  .column-footer-right__phone {
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    white-space: nowrap;
  }
}
.column-footer-right__mail {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .column-footer-right__mail:hover {
    color: #fff;
  }
}
.column-footer-right__working-time {
  color: rgba(255, 255, 255, 0.5);
}
.column-footer-right__adress {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease 0s;
}
@media (max-width: 61.99875em) {
  .column-footer-right__adress {
    max-width: 12.5rem;
  }
}
@media (any-hover: hover) {
  .column-footer-right__adress:hover {
    color: #fff;
  }
}
.bottom-footer {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}
.bottom-footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 29.99875em) {
  .bottom-footer__body {
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: start;
  }
}
.bottom-footer__copyright {
  font-size: 0.75rem;
  line-height: 175%;
  color: rgba(255, 255, 255, 0.5019607843);
  padding-right: 1.25rem;
}
.welcome {
  position: relative;
}

.welcome__container {
  position: relative;
  z-index: 2;
}

.welcome__body {
  display: flex;
  align-items: center;
  min-height: 36.875rem;
  padding-top: 4.375rem;
}
@media (orientation: landscape) and (max-height: 767px) {
  .welcome__body {
    min-height: 100vh;
  }
}

.welcome__background-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-height: 590px;
}
.welcome__background-ibg img {
  object-position: right;
}
@media (max-width: 26.56125rem) {
  .welcome__background-ibg img {
    width: 200%;
  }
}

.welcome__slide {
  min-height: 36.875rem;
}
@media (orientation: landscape) and (max-height: 767px) {
  .welcome__slide {
    min-height: 100vh;
  }
}

.welcome__slider-bullets {
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.625rem;
}

.welcome__controlls {
  position: absolute;
  top: 495px;
  width: calc(100% - 30px);
}
@media (orientation: landscape) and (max-height: 767px) {
  .welcome__controlls {
    display: none;
  }
}

.slider-arrow {
  display: flex;
  justify-content: space-between;
}

.slider-arrow__prev {
  display: flex;
  transform: rotate(180deg);
  flex: 0 0 3rem;
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slider-arrow__prev:hover {
    border: 1px solid rgb(255, 255, 255);
  }
}
@media (max-width: 29.99875em) {
  .slider-arrow__prev {
    display: none;
  }
}

.slider-arrow__next {
  display: flex;
  flex: 0 0 3rem;
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slider-arrow__next:hover {
    border: 1px solid rgb(255, 255, 255);
  }
}
@media (max-width: 29.99875em) {
  .slider-arrow__next {
    display: none;
  }
}

.body-welcome {
  flex: 0 1 600px;
}

.body-welcome__title {
  font-family: "Jura";
  font-size: 2.5625rem;
  line-height: 117%;
}
@media (min-width: 90em) {
  .body-welcome__title {
    font-size: 2.5625rem;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  .body-welcome__title {
    font-size: clamp( 1.5rem , 0.2857142857rem  +  2.5297619048vw , 2.5625rem );
  }
}
@media (max-width: 48em) {
  .body-welcome__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 90em) {
  .body-welcome__title {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .body-welcome__title {
    padding-bottom: clamp( 0.9375rem , 0.7767857143rem  +  0.8035714286vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .body-welcome__title {
    padding-bottom: 0.9375rem;
  }
}

.body-welcome__subtitle {
  font-family: "Montserrat";
  line-height: 121%;
}
@media (min-width: 90em) {
  .body-welcome__subtitle {
    font-size: 1.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .body-welcome__subtitle {
    font-size: clamp( 0.875rem , 0.7857142857rem  +  0.4464285714vw , 1.1875rem );
  }
}
@media (max-width: 20em) {
  .body-welcome__subtitle {
    font-size: 0.875rem;
  }
}
@media (min-width: 90em) {
  .body-welcome__subtitle {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .body-welcome__subtitle {
    padding-bottom: clamp( 0.625rem , 0.0892857143rem  +  2.6785714286vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .body-welcome__subtitle {
    padding-bottom: 0.625rem;
  }
}

.knife-tabs {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tabs__navigation {
  display: flex;
  justify-content: space-around;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 33.75rem) {
  .tabs__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

.tabs__title {
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
}

.tab-label__icon {
  font-size: 2.875rem;
}

.kitchen-knifes__first-grid,
.folden-knifes__first-grid,
.sharpener__first-grid,
.kitchen-accessories__first-grid {
  padding-bottom: 3.125rem;
}

.first-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1.125rem;
  row-gap: 1.5625rem;
}

.first-grid__item {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  min-height: 30rem;
}
@media (max-width: 61.99875em) {
  .first-grid__item {
    min-height: 25rem;
  }
}
@media (orientation: landscape) and (max-width: 33.75rem) {
  .first-grid__item {
    min-height: 20.3125rem;
  }
}

.first-grid__image {
  background: #272727;
  border-radius: 14px;
  flex: 1 1 auto;
}
@media (any-hover: hover) {
  .first-grid__image:hover .first-grid__icon::after {
    background: rgb(200, 0, 0);
  }
}
.first-grid__image img {
  transition: all 0.6s ease 0s;
}
@media (any-hover: hover) {
  .first-grid__image:hover img {
    transform: scale(1.2) rotate(48deg);
  }
}

.folden-knifes .first-grid__image {
  background: rgba(35, 43, 63, 0.9058823529);
}

.sharpener .first-grid__image {
  background: rgba(65, 54, 47, 0.9058823529);
}

.kitchen-accessories .first-grid__image {
  background: rgba(124, 89, 46, 0.862745098);
}

.first-grid__item_big {
  grid-column: span 2;
  border-radius: 14px;
  overflow: hidden;
}
@media (max-width: 33.75rem) {
  .first-grid__item_big {
    grid-column: span 1;
  }
}

.first-grid__image_big-ibg {
  min-height: 100%;
}
.first-grid__image_big-ibg img {
  transition: all 0.6s ease 0s;
  transform: scale(1.1);
  filter: brightness(0.8);
}
@media (any-hover: hover) {
  .first-grid__image_big-ibg:hover img {
    transform: scale(1);
    filter: brightness(1.2);
  }
}

.first-grid__item_insta {
  position: relative;
  min-height: 100%;
}

.first-grid__image_insta-ibg {
  border-radius: 14px;
  overflow: hidden;
  min-height: 30rem;
}
@media (max-width: 61.99875em) {
  .first-grid__image_insta-ibg {
    min-height: 22.5rem;
  }
}
.first-grid__image_insta-ibg img {
  transition: all 0.6s ease 0s;
  transform: scale(1.1);
  filter: brightness(0.8);
}
@media (any-hover: hover) {
  .first-grid__image_insta-ibg:hover img {
    transform: scale(1);
    filter: brightness(1.1);
  }
}
@media (orientation: landscape) and (max-width: 33.75rem) {
  .first-grid__image_insta-ibg {
    min-height: 17.5rem;
  }
}

.first-grid__main-tab-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.75rem;
}

.main-tab-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.6470588235;
}

.main-tab-title__icon {
  font-weight: 600;
  font-size: 1.0625rem;
}

.first-grid__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-grid__icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  z-index: 12;
}

.card-icon {
  transition: all 0.5s ease 0s;
  display: flex;
  gap: 0rem;
}
@media (any-hover: hover) {
  .card-icon:hover {
    gap: 0.75rem;
  }
  .card-icon:hover::after {
    width: 72px;
  }
}
@media (any-hover: hover) and (any-hover: hover) {
  .card-icon:hover .card-icon__icon-shop {
    font-size: 1.1875rem;
  }
}
@media (any-hover: hover) and (any-hover: hover) {
  .card-icon:hover .card-icon__icon-plus {
    transform: rotate(90deg);
  }
}
.card-icon::after {
  content: "";
  position: absolute;
  top: -6.5px;
  left: -6.5px;
  background: rgba(200, 0, 0, 0);
  width: 37px;
  height: 37px;
  border-radius: 18px;
  z-index: -1;
}

.card-icon__icon-plus {
  transition: all 0.3s ease 0s;
}

.card-icon__icon-shop {
  font-size: 0rem;
  position: relative;
  top: 1px;
}

.knife-titles {
  display: flex;
  flex-direction: column;
}
.knife-titles_insta {
  opacity: 0;
}
@media (any-hover: hover) {
  .knife-titles:hover .knife-titles__knife-name {
    transform: translate(30px);
    text-decoration: underline;
  }
  .knife-titles:hover .knife-titles__price-row {
    transform: translate(30px);
  }
}

.knife-titles__knife-name {
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2;
}

.knife-titles__price-row {
  transition: all 0.8s ease 0s;
  display: flex;
  gap: 1.75rem;
}

.knife-titles__price {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 2;
  color: rgba(255, 255, 255, 0.5);
}

.knife-titles__novelty {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 2;
  color: #FF3232;
}

.first-grid__insta-title {
  position: absolute;
  top: 37px;
  right: 31px;
}

.insta-title {
  display: flex;
  gap: 1.125rem;
  align-items: center;
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.6470588235;
}

.insta-title__icon {
  font-size: 1.4375rem;
}

.gridcell-1 {
  order: 1;
}

.gridcell-3 {
  order: 3;
}
@media (max-width: 33.75rem) {
  .gridcell-3 {
    order: 7;
  }
}

.gridcell-4 {
  order: 4;
}

.gridcell-5 {
  order: 5;
}

.gridcell-6 {
  order: 6;
}

.gridcell-7 {
  order: 7;
}
@media (max-width: 33.75rem) {
  .gridcell-7 {
    order: 3;
  }
}

.gridcell-8 {
  order: 8;
}

.tabs__mail-block {
  padding-bottom: 3.125rem;
}

.mail-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0625rem;
}

.mail-block__title {
  font-family: "Jura";
  font-weight: 500;
  font-size: 1.6875rem;
  line-height: 156%;
  text-align: center;
}

.mail-block__form {
  position: relative;
}

.mail-block__mail {
  background: #272727;
  border-radius: 6px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.625rem;
  padding-right: 1.25rem;
  min-width: 17.25rem;
  color: #fff;
}
.mail-block__mail::placeholder {
  font-size: 0.9375rem;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.5);
}

.mail-block__button {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  width: 14px;
  height: 14px;
  transform: rotateY(180deg) translate(0, -50%);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.new-popular {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.about {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.body-about {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.item-about {
  display: flex;
  column-gap: 5rem;
  flex: 1 0 18.75rem;
}
@media (max-width: 61.99875em) {
  .item-about {
    column-gap: 1.875rem;
  }
}
@media (max-width: 33.75rem) {
  .item-about {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.item-about_second {
  flex-direction: row-reverse;
}
@media (max-width: 33.75rem) {
  .item-about_second {
    flex-direction: column;
  }
}
.item-about__image-ibg {
  border-radius: 14px;
  overflow: hidden;
  flex: 1 0 18.75rem;
}
@media (max-width: 61.99875em) {
  .item-about__image-ibg {
    align-self: start;
    min-height: 18.75rem;
    flex: 1 0 18.75rem;
  }
}
@media (max-width: 33.75rem) {
  .item-about__image-ibg {
    min-width: 100%;
  }
}
.item-about__content {
  align-self: center;
}
.item-about__title {
  font-family: "Jura";
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 120%;
}
.item-about__text {
  font-size: 1rem;
  line-height: 138%;
  display: flex;
  flex-direction: column;
  gap: 1.6875rem;
}
@media (max-width: 61.99875em) {
  .item-about__text {
    color: #ADACAC;
  }
}
@media (max-width: 33.75rem) {
  .item-about__text {
    font-size: 0.75rem;
    line-height: 182%;
  }
}
.about-title_first {
  max-width: 36.25rem;
}
@media (max-width: 33.75rem) {
  .about-title_first {
    font-size: 1.125rem;
  }
}
.about-title_second {
  max-width: 43.75rem;
  font-family: "Jura";
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 129%;
}
@media (max-width: 33.75rem) {
  .about-title_second {
    font-size: 1.125rem;
  }
}

.about-text_first {
  max-width: 42rem;
}
.content-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2.875rem;
}
@media (max-width: 61.99875em) {
  .content-item {
    flex: 1 0 18.75rem;
  }
}
@media (max-width: 33.75rem) {
  .content-item {
    row-gap: 0.9375rem;
    flex: 1 1 auto;
  }
}
.content-item_second {
  flex-direction: column-reverse;
}
@media (max-width: 61.99875em) {
  .content-item_second {
    flex-direction: column;
  }
}

.interesting {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.body-interesting {
  display: flex;
  flex-direction: column;
  row-gap: 2.3125rem;
}
.body-interesting__title {
  font-family: "Jura";
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 1.1714285714;
}
.cards-interesting {
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .cards-interesting {
    flex-direction: column;
  }
}
.cards-interesting__card {
  flex: 1 1 33.333%;
}
.card-item {
  position: relative;
}
@media (max-width: 61.99875em) {
  .card-item {
    max-height: 465px;
  }
}
@media (any-hover: hover) {
  .card-item:hover .card-item__title {
    border-radius: 0px 0px 14px 14px;
    background-color: rgba(200, 0, 0, 0.8078431373);
  }
  .card-item:hover .card-item__image-ibg img {
    transform: scale(1);
  }
}
.card-item__date {
  font-size: 0.875rem;
  line-height: 200%;
  position: absolute;
  z-index: 2;
  top: 1.4375rem;
  right: 1.5625rem;
}
.card-item__image-ibg {
  border-radius: 14px;
  overflow: hidden;
  padding-bottom: 122.3684210526%;
  min-height: 380px;
}
.card-item__image-ibg img {
  transition: all 0.9s ease 0s;
  transform: scale(1.1);
}
@media (max-width: 61.99875em) {
  .card-item__image-ibg {
    padding-bottom: 0;
    min-height: 465px;
  }
}
.card-item__title {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 141%;
  position: absolute;
  z-index: 2;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-bottom: 1.375rem;
  padding-top: 1.375rem;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}

.interesting__mail-block {
  padding-top: 3.75rem;
}
/**
 * Swiper 7.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 27, 2021
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #fff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 590px;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 19px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 19px));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--swiper-pagination-bullet-inactive-color, transparent);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next + .swiper-slide,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
